<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wisebody.editor">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <application
        android:name=".EditorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar"
        android:hardwareAccelerated="true">
        <activity
            android:name="org.acra.CrashReportDialog"
            android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"></activity>
        <activity android:name=".MainFeed"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar"
            android:fitsSystemWindows="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".subEditor"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:hardwareAccelerated="true"
            android:fitsSystemWindows="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        </activity>
        <activity android:name=".dubEditor"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:hardwareAccelerated="true"
            android:fitsSystemWindows="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        </activity>
        <activity android:name=".MainPage"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        </activity>
        <activity android:name=".Record"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:hardwareAccelerated="true"
            android:fitsSystemWindows="true">
        </activity>
    </application>

</manifest>